{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        dzelapp
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-wrapped">
      <a class="navbar-brand" href="#">dzelapino</a>

        <div class="navbar-content">

          <div class="navbar-panel" id="navbarPanel">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Contact</a>
          </div>

          <button type="button" onclick="navbarToggle()" class="navbar-content-button">
              <span class="material-symbols-outlined navbar-button__show-navbar-nav">
{#                  unfold_more#}
                  M
              </span>
              <span class="material-symbols-outlined navbar-button__hide-navbar-nav">
{#                  unfold_less#}
                  W
              </span>
          </button>
        </div>
    </nav>

    <div class="container">{% block content %} {% endblock %}</div>

    <div class="footer">
        <span>Made by dzelapino sp. zło</span>
    </div>

    <script src="{% static 'base.js' %}"></script>
  </body>
</html>