$dzelapino-black: #1B1212;
$dzelapino-blackest-black: #000000;
$dzelapino-white: #FAF9F6;
$dzelapino-blue: #7DF9FF;
$dzelapino-green: #33ff57;
$dzelapino-red: #DC143C;
$dzelapino-pink: #DA70D6;
$dzelapino-yellow: #F4C430;