$default-spacing-value: 0.5rem;
$default-gap-size: $default-spacing-value;
$default-padding-size: $default-spacing-value;
$default-border-radius: 25px;

$font-size-larger: 1.2rem;
$font-size-smaller: 0.8rem;